*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBarContainer{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #27273b;
    color: #fff;
}

.navBarContents{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuList{
    display: flex;
    column-gap: 36px;
    list-style-type: none;
    align-items: center;
    font-size: 16px;
}
.btn--1{
    

}
.linkStyle{
    text-decoration: none;
    color: #fff;
}
.mpayLogo{
    width: 78px;
}